.message-container {
  padding: 12px;
  .page-title {
    font-size: 20px;
    display: block;
    font-weight: bold;
    padding: 10px 12px;
    color: #3EB1F4;
    background: #fff;
    border-bottom: 1px solid #e0e0e0;
    
  }
  .msg-item {
    display: flex;
    align-items: center;
    padding: 12px;
    background: #fff;
    border-radius: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #eee; 
    .avatar {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      margin-right: 12px;
    }
    .msg-info {
      flex: 1;
      .msg-name {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 4px;
      }
      .msg-preview {
        font-size: 13px;
        color: #999;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .msg-time {
      font-size: 11px;
      color: #aaa;
      margin-left: 8px;
    }
    
  }
  // /* 可选：最后一个消息项无边框 */
  // .msg-item:last-child {
  //   border-bottom: none;
  // }
}